header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #faf9f9;
}

.logo h1 {
    display: flex;
    align-items: center;
    font-family: 'Plus Jakarta Sans';
    margin: 0 10px;
}

.logo {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px;
}

nav a {
    padding: 10px;
}

nav a:hover {
    color: #bee3db;
}